h2 {
    color: #4aaaa5;
    font-size: 24px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    padding: 20px 0px;
}

h3 {
    color: #4aaaa5;
    font-size: 20px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

h1 {
    font-family: 'Georgia', Times, "Times New Roman", serif;

}

p {
    text-indent: 50px;
}

a {
    text-decoration: none;
    color: #777777;
}

body {
    background-image: url("../images/cloth.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;

    width: 960px;
}

.headcontainer {
    background-color: #ffffff;
    border-bottom-width: 2px;
    border-color: #cccccc;
    border-style: solid;
    height: 64px;
}

.headerblock {
    font-size: 32px;
    line-height: 200%;
    background-color: teal;
    color: white;
    width: fill;
    float: left;
    margin-left: 100px;
    padding: 0px 20px;
}

.headcontactblock {
    float: right;
    margin-right: 70px;
    width: 240px;
    padding: 20px 0px;
    font-size: 18px;
}

.bodycontainer {
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    width: 550px;
    margin: 30px 30px 30px 90px;
    line-height: 150%;
    float: left;
    padding: 10px;
}

.image1 {
    float: left;
    padding-right: 10px;
}

.sidebarcontainer {
    float: left;
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    width: 180px;
    margin-top: 40px;
    padding: 10px;
}

.submit {
    width=40px;
    color: white;
    background-color: #4aaaa5;
}

.pfimages {
    padding: 30px;
}

input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.input2 {
    height: 100px;
}



.footer {
    clear: both;
    color: white;
    font-size: 12px;
    background-color: #666666;
    border-style: solid;
    border-top-width: 5px;
    border-color: #4aaaa5;
    text-align: center;
    padding: 20px 0px;
}
